* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
#app {
  width: 100vw;
  height: 100vh;
}
.link {
  color: black;
  text-decoration: none;
}

.otp-input {
  margin: 0 2px;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;

  width: 56px;
  height: 60px;

  flex: none;
  order: 0;
  flex-grow: 0;
}
/* Background colour of an input field with value */
.otp-input.is-complete {
  background-color: #e4e4e4;
}
.otp-input::-webkit-inner-spin-button,
.otp-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 650px) {
  #app {
    padding-bottom: 50px; /* Same as the height of your footer */
  }
}