:root {
  --primary-color: #146CCF !important;
  --primary-color-light: rgba(20, 108, 207, 0.7) !important;
  --secondary-color: #F6F6F5 !important;

}

.p-button {
  padding: 5px 10px;
  background: var(--primary-color);
  border: var(--primary-color);
}
.p-button:hover {
  background: var(--primary-color-light);
}
.p-card {
  padding: 10px;
}
.p-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  text-align: center;
}
.p-inputtext {
  height: 30px;
  padding: 10px;
}
.p-float-label label {
  margin-top: -0.5rem !important;
}