:root {
  --primary-color: #146CCF !important;
  --primary-color-light: rgba(20, 108, 207, 0.7) !important;
  --secondary-color: #F6F6F5 !important;

}

.p-button {
  padding: 5px 10px;
  background: var(--primary-color);
  border: var(--primary-color);
}
.p-button:hover {
  background: var(--primary-color-light);
}
.p-card {
  padding: 10px;
}
.p-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  text-align: center;
}
.p-inputtext {
  height: 30px;
  padding: 10px;
}
.p-float-label label {
  margin-top: -0.5rem !important;
}
.p-carousel-indicators {
  display: none !important;
}
.p-accordion-header-link {
  display: none
}
.p-tabview {
  width: 100%;
}
.p-tabview-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border: none;
  width: 100%;
  font-size: 20px;
}
.p-tabview-panel {
  padding-top: 10px;
  width: 100%;
}
.p-rating-icon {
  width: 30px;
  height: 30px;
}